


*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

$backgroud_color : black;



.navigation_mobil{

width: 100%;
height: 70px;
background-color: white;
position: absolute;
display: flex;
justify-content: center;
align-items: center;

bottom :0%;
    ul{

        display: flex;
        width: 100%;
        justify-content:space-around ;
    
        .list-1,.list-2,.list-3,.list-4,.list-5{
            position: relative;
            list-style: none;
            width: 70px;
            height: 70px;
            z-index: 1;

            a{

                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                text-align: center;
                font-weight: 500;
                .icon{
                    position: relative;
                    display: block;
                    line-height: 75px;
                    font-size: 1.5em;
                    text-align: center;
                    transition: 0.5s;
                
                    .img_icon{

                        height: 30px;
                    }
                
                }
                .text{
                    position: absolute;
                    color : $backgroud_color;
                    font-weight: 400;
                    font-size: 0.75em;
                    letter-spacing: 0.05em;
                    transition: 0.5s;
                    opacity: 0;
                    transform: translateY(20px);
                }
            }

        }

        li.active{
            a{
                .icon{
                
                    transform: translateY(-35px);

                }
                .text{
                    opacity: 1;
                    transform: translateY(10px);
                }

                
            }

        }

        li:nth-child(1).active ~ .cadre_pieces{
            left: 10%;
            transform: translateX(-50%);
        }
        li:nth-child(2).active ~ .cadre_pieces{
            left:30%;
            transform: translateX(-50%);
        }
        li:nth-child(3).active ~ .cadre_pieces{
            left: 50%;
            transform: translateX(-50%);
        }
        li:nth-child(4).active ~ .cadre_pieces{
            left:70%;
            transform: translateX(-50%);
        }
        li:nth-child(5).active ~ .cadre_pieces{
            left:90%;
            transform: translateX(-50%);
        }


        // .list-1.active ~ .cadre_pieces{
        //     animation: list-1-focus 0.5s linear;
        //     animation-fill-mode: forwards;


        // }
        // @keyframes list-1-focus {
        //     100%{

        //         left:6.3%;
        //     }
        // }
        // .list-2.active ~ .cadre_pieces{
        //     animation: list-2-focus 0.5s linear;
        //     animation-fill-mode: forwards;


        // }
        // @keyframes list-2-focus {
        //     100%{

        //         left:23.7%;
        //     }
        // }
        // .list-3.active ~ .cadre_pieces{
        //     animation: list-3-focus 0.5s linear;
        //     animation-fill-mode: forwards;


        // }
        // @keyframes list-3-focus {
        //     100%{

        //         left:40.7%;
        //     }
        // }
        // .list-4.active  ~ .cadre_pieces{
        //     animation: list-4-focus 0.5s linear;
        //     animation-fill-mode: forwards;


        // }
        // @keyframes list-4-focus {
        //     100%{

        //         left:58.4%;
        //     }
        // }
        // .list-5.active ~ .cadre_pieces{
        //     animation: list-5-focus 0.5s linear;
        //     animation-fill-mode: forwards;


        // }
        // @keyframes list-5-focus {
        //     100%{

        //         left:76%;
        //     }
        // }


        
    }
}

@media only screen and (min-width: 768px) {
    .navigation_mobil {
      display:  None;
    }
  }