
$color_connection : #0097a7ff;
$color_connection_active : #12b0c2;

$color_del_data: #ea9999ff;
$color_del_data_active: rgb(252, 110, 110);
$color_del_compte: #cc0000ff;
$color_del_compte_active: rgb(248, 24, 24);
$color_deco: #ff0000ff;
$color_deco_active: rgb(207, 12, 12);

.title_of_part_page_Profil{
    padding-top : 20px;

    text-align: center;
    width: 100%;
}

.formulaire_profil{
    margin-top: 25px;
    position: relative;
    width: 90%;
    left:50%;
    transform: translateX(-50%);
    max-width: 365px;
   
    .case_of_form{

        margin: 15px;
        display: grid;
        grid-template-columns: 40% 60%;
   
    }
    .Modifier_le_mot_de_passe{
        margin: 15px;
        position: relative;
        width: 50%;
        height : 30px;
        left:50%;
        transform: translateX(-50%);
        background-color: $color_connection;
        color:white;

    }
    .Modifier_le_mot_de_passe:active{
      
        background-color: $color_connection_active;
        color:white;
    }
    .Effacer_ses_donnees{
        margin: 15px;
        position: relative;
        width: 50%;
        height : 30px;
        left:50%;
        transform: translateX(-50%);
        background-color: $color_del_data;
        color:white;

    }
    .Effacer_ses_donnees:active{
      
        background-color: $color_del_data_active;
    }
    .Supprimer_le_compte{
        margin: 15px;
        position: relative;
        width: 50%;
        height : 30px;
        left:50%;
        transform: translateX(-50%);
        background-color: $color_del_compte;
        color:white;

    }
    .Supprimer_le_compte:active{
      
        background-color: $color_del_compte_active;

    }
    .Déconnexion{
        margin: 15px;
        position: relative;
        width: 50%;
        height : 30px;
        left:50%;
        transform: translateX(-50%);
        background-color: $color_deco;
        color:white;

    }
    .Déconnexion:active{
      
        background-color: $color_deco_active;


    }
}
.form_modify_password.active{
    display: block;
}
.form_modify_password{
    display: None;
    top:0px;
    position: absolute;
    width: 90%;
    height: 100%;
    left:50%;
    transform: translateX(-50%);
    max-width: 365px;
    background-color: white;
    .close_img_password{
        position: absolute;
        width: 25px;
        right: 0%;
        top:0%;
    }
    .title_of_part_page_Modifier_le_mot_de_passe{
        padding-top : 20px;

        text-align: center;
        width: 100%;
    }
    .case_of_form{

        margin: 15px;
        display: grid;
        grid-template-columns: 40% 60%;
   
    }

    .Envoyer{
        margin: 15px;
        position: relative;
        width: 50%;
        height : 30px;
        left:50%;
        transform: translateX(-50%);
        background-color: $color_connection;
        color:white;

    }
    .Envoyer:active{
      
        background-color: $color_connection_active;
        color:white;

    }

}


@media only screen and (min-width: 768px) {

    .formulaire_connection{
        width: 50%;
    }
}
